{% extends 'base.html' %}

{%  block content_top %}
    <!--
    Content TOP is not needed here, simply including it for consistency in the event that we use this container
    on other pages
    -->
{% endblock content_top %}

{% block content_mid %}
            <h1>NEED THIS BUTTON TO DROP DOWN A FORM TO POST</h1>
{% endblock content_mid %}

{% block content_bottom %}
    <!--
    Content BOTTOM is not needed here, simply including it for consistency in the event that we use this container
    on other pages
    -->
{% endblock content_bottom %}



